  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  .mb-10 {
    margin-bottom: 10px;
  }
  
  .font-16 {
    font-size: 16px;
  }
  
  .font-24 {
    font-size: 24px;
  }
  /* Form dang nhap, dang ky */
  
  .login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .signup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .login-container,
  .signup-container {
    position: relative;
    padding: 90px 75px;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    border-radius: 14px;
  }
  
  .login-close,
  .signup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    color: #000;
    font-size: 24px;
    padding: 12px;
  }
  
  .login-close:hover,
  .signup-close:hover {
    color: rgb(255, 0, 0);
  }
  
  .signup-container {
    padding: 75px;
  }
  
  .login-header,
  .signup-header {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #373941;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  
  .login-lable,
  .signup-lable {
    color: #373941;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-input,
  .signup-input {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-radius: 14px;
    font-size: 16px;
    margin-bottom: 30px;
    background-color: #f2f3f5;
  }
  
  .show-password {
    position: relative;
  }
  
  #btn-show-password-login,
  #btn-hide-password-login,
  #btn-show-cp-login,
  #btn-hide-cp-login,
  #btn-show-password-signup,
  #btn-hide-password-signup {
    position: absolute;
    top: 24px;
    right: 10px;
    cursor: pointer;
  }
  
  .login-button,
  .signup-button {
    display: block;
    width: 100%;
    padding: 25px;
    border-radius: 14px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(80, 129, 215);
    border: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(80, 129, 215, 0.5);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  
  .login-already,
  .signup-already {
    font-size: 16px;
    text-align: center;
    color: #999;
  }
  
  .login-link,
  .signup-link {
    color: #2979ff;
    text-decoration: none;
  }
  /* #logout-icon {
  display: none;
} */
  /* Header */
  
  #header {
    background-color: #fff;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  /* Left Header */
  
  .nav {
    margin-left: 80px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 40%;
  }
  
  .nav li {
    margin-right: 40px;
  }
  
  .nav li a {
    color: #2a3544;
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: bold;
  }
  
  .nav li a:hover,
  .header-icon-link:hover {
    border-bottom: 3px solid #2a3544;
    cursor: pointer;
  }
  /* Center Header */
  
  .header-img {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
  }
  
  .logo-link {
    padding: 0 10px;
  }
  
  .logo-img {
    display: block;
    max-width: 90px;
    height: 70px;
  }
  /* Right Header */
  
  .header-icon {
    display: flex;
    margin-right: 80px;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 40%;
  }
  
  .header-icon-link {
    margin-left: 20px;
    font-size: 20px;
    color: #2a3544;
    padding: 10px;
  }
  
  .visit-admin,
  .user-text {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 5px 12px;
    text-decoration: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  .visit-admin:hover {
    font-weight: bold;
  }
  /* search */
  
  .searchBar {
    position: relative;
    margin-left: 20px;
  }
  
  .searchBar input {
    border-radius: 20px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
  }
  
  #searchBtn {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  /* .header-search {
  position: relative;
}

.header-input {
  margin-left: 36px;
  height: 40px;
  padding: 5px;
  width: 300px;
  border-radius: 100px;
}

.seach-btn {
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 9px;
} */
  /* Slider */
  
  #slider {
    position: relative;
    margin-top: 90px;
  }
  
  #slider img {
    width: 100%;
    height: auto;
    display: flex;
    /* transform: translateX(-2000px); */
  }
  
  #slider-container {
    width: 100%;
  }
  
  #slider .control {
    position: absolute;
    top: 50%;
    /* 2 nút chuyển trang sẽ canh giữa chiều cao theo hình */
    transform: translateY(-50%);
    color: #2a3544;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.9;
    padding: 12px;
  }
  
  #slider .prev {
    left: 24px;
  }
  
  #slider .next {
    right: 24px;
  }
  
  #slider .slider-bottom {
    position: absolute;
    bottom: 15px;
    left: 20%;
    right: 20%;
    text-align: center;
  }
  
  #slider .slider-dot-1,
  #slider .slider-dot-2 {
    display: inline-block;
    background-color: black;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
    list-style: none;
  }
  /* Content */
  
  .content .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .content .container .box img {
    object-fit: cover;
    width: 300px;
    height: 350px;
  }
  
  .content .container .box {
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    flex-grow: 1;
  }
  
  .content .wrapper {
    display: flex;
    justify-content: center;
  }
  
  .wrapper ul {
    display: flex;
    padding: 5px;
  }
  
  .wrapper ul li {
    list-style: none;
    margin: 10px;
    cursor: pointer;
    border: 2px ridge black;
    border-radius: 5px;
    padding: 12px;
  }
  
  .btn:hover {
    background-color: brown;
  }
  
  .btn:active {
    background-color: brown;
    transform: translateY(4px);
  }
  /* Footer */
  
  .header1 {
    background-color: black;
    height: 130px;
    clear: both;
  }
  
  .headcon {
    width: 25%;
    color: aliceblue;
    float: left;
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-text,
  .footer-text-line1 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .footer-text-line1 {
    font-weight: bold;
  }
  
  .bottom {
    background-color: #fff;
    height: 170px;
  }
  
  .bottomcon {
    margin-top: 25px;
    width: 33%;
    text-align: center;
    float: left;
    line-height: 1.5;
  }
  
  .end {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #000;
    padding-bottom: 20px;
  }
  
  .social {
    text-align: center;
  }
  
  .hienthiform {
    clear: both;
    width: 100%;
    text-align: center;
  }
  
  .footer-icon {
    font-size: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .f-last {
    color: #000;
  }
  /* Gio hang */
  /* truong */
  
  .cart {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .close__cart {
    padding: 5px;
  }
  
  .login-container-cart {
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    border-radius: 14px;
  }
  
  .container-cart-heading {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
  }
  
  .gio {
    margin: 30px 0;
    font-size: 36px;
  }
  
  .hinhgio {
    display: flex;
    flex-basis: 10%;
  }
  
  .img-gio {
    display: flex;
    width: 50px;
    height: 50px;
    flex-basis: 10%;
    margin-left: 10px;
  }
  
  .tg {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .name {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gia {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .giacuoi {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .soluong {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .size {
    display: flex;
    flex-basis: 10%;
    align-items: center;
    justify-content: center;
  }
  
  .inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .mua {
    display: inline-block;
  }
  /* 23/11 */
  
  #inerhoantat {
    display: flex;
    flex-direction: column;
  }
  
  .mhleft {
    flex-basis: 20%;
    font-size: 20px;
  }
  
  .ipmh input {
    flex-basis: 80%;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
  }
  
  .ipmh {
    display: flex;
    margin-bottom: 15px;
    text-transform: none;
    align-items: center;
    justify-content: center;
  }
  
  .btn-gh-xoa {
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
  }
  
  .btn-buy {
    margin-top: 30px;
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
  }
  
  .buy-done {
    margin: 10px;
  }
  /* phan loai theo gia */
  
  .filter {
    display: none;
    position: fixed;
    top: 65px;
    right: 65px;
    gap: 5px;
  }
  
  .filter input {
    background-color: #eee;
    width: 100px;
  }
  
  .filter_click {
    padding-left: 10px;
    cursor: pointer;
  }
  
  .closeFilter {
    cursor: pointer;
    display: none;
    padding-left: 10px;
  }
  
  .filter input {
    padding-left: 3px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }
  /* hien thi chi tiet san pham */
  
  .product-container {
    position: relative;
    width: 100%;
    max-width: 60%;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    box-shadow: 0 5px 10px 0 #000;
    display: none;
    /* transform: translateY(-1000%); */
  }
  
  .l-product-container {
    display: flex;
  }
  
  .product-container img {
    height: 500px;
    width: auto;
  }
  
  .r-product-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 0 30px;
  }
  
  .btn-product {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  
  #number-product {
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .close-display-cart {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    padding: 12px;
    color: #000;
  }
  
  .close-display-cart:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
  }
  
  .name-product {
    font-size: 30px;
    /* margin-top: 30px; */
    margin-bottom: 20px;
  }
  
  .price-product,
  .count-product,
  .size-product {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .price-product {
    font-weight: bold;
  }
  
  .price-product::after {
    content: "đ";
    margin-left: 4px;
  }
  
  .count-product {
    margin-bottom: 10px;
  }
  
  .size-product {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  #size {
    display: inline-block;
    width: 60px;
    height: 40px;
  }
  
  .button_add_product {
    background-color: palevioletred;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  /* Reponsive */
  
  @media only screen and (max-width: 1024px) {
    /* gio hang */
    .gio {
      margin: 30px 0;
      font-size: 24px;
    }
    .img-gio {
      width: 40px;
      height: 40px;
      /* margin-left: 10px; */
    }
    .name {
      max-width: 15%;
    }
    .tg,
    .name,
    .gia,
    .giacuoi,
    .soluong,
    .size,
    .name {
      font-size: 14px !important;
    }
    .btn-gh-xoa {
      font-size: 8px;
      padding: 8px;
    }
    .btn-buy {
      margin-top: 20px;
      font-size: 16px;
      padding: 4px;
      cursor: pointer;
    }
    /* Thong tin mua hang */
    .mhleft {
      flex-basis: 20%;
      font-size: 14px;
    }
    .ipmh input {
      padding: 5px 5px;
    }
    /* product_cart */
    .product-container {
      height: 400px;
      max-width: 100%;
    }
    .product-container img {
      height: 400px;
      width: auto;
    }
    .name-product {
      font-size: 24px;
      /* margin-top: 30px; */
      margin-bottom: 10px;
    }
    .price-product,
    .count-product,
    .size-product {
      font-size: 16px;
      margin-bottom: 10px;
    }
    .count-product {
      margin-bottom: 5px;
    }
    .size-product {
      margin-top: 10px;
      margin-bottom: 5px;
    }
    /* #size {
  width: 60px;
  height: 40px;
} */
    .button_add_product {
      background-color: palevioletred;
      border: none;
      color: white;
      padding: 4px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 4px;
    }
  }